body {
  background-color: #f8f3f3;
}

canvas {
  display: block;
  border: 1px dashed #333;
}

.app {
  display: flex; 
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

.tools {
  margin-top: 8px;
  display: flex;
  gap: 6px;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.config input {
  box-sizing: border-box;
  width: 60px;
  margin-right: 6px;
}
